body {
    margin: 0;
    font-family: 'Rototo';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
}

.logo-img {
    width: 160px;
    height: auto;
}

.search-form {
    padding-left: 30px;
    width: 620px;
    height: 40px;
    font-size: 15px;
    background-image: url('/img/search-interface-symbol.svg');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    border: 2px solid darkorange;
    border-radius: 5px;
}

.auth-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up, .sign-in {
    width: 110px;
    height: 35px;
    font-size: 14px;
    background-color: steelblue;
    color: white;
    border: 0px;
    border-radius: 6px;
}

.sign-up {
    width: 150px;
    margin-left: 20px;
}

.main {
    display: flex;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 180px;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: steelblue;
}

.heading-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 900px;
    height: 400px;
    background-image: url('/img/priroda-kyrgyzstana-novosti-fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 4px;
}

.heading-main-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding-top: 30px;
    background-color: gainsboro;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo-img {
    margin-left: 20px;
    width: 120px;
    height: auto;
}

.footer-copyright {
    margin-left: 40px;
    font-size: 16px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-heading {
    margin-bottom: 8px;
    font-size: 17px;
    font-family: 'Roboto';
    text-align: center;

}

.contact-form-input {
    width: 230px;
    height: 30px;
    margin-bottom: 10px;
}

.contact-form-btn {
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    font-weight: 600;
    background-color: orange;
    border: 0;
    border-radius: 3px;
    color: white;
}

.footer-social {
    margin-right: 50px;
}

.footer-social-list {
    display: flex;
    list-style: none;
}

.footer-social-item:not(:last-child) {
    margin-right: 30px;
}

.footer-social-icon {
    width: 30px;
    height: auto;
}

