body {
    margin: 0;
    font-family: 'Roboto';
}

.main-container {
    display: flex;
}

.img {
    width: 50%;
    height: auto;
}

.right-container {
    display: flex;
    width: 50%;
    justify-content: center;
}

.authorization-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 350px;
}


.greeting {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2D3748;
}

.message-heading {
    margin-top: 5px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1A202C;
}


.authorization-form {
    display: flex;
    flex-direction: column;
    
}

.text-email, .text-password {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #4A5568;
}

.email-input, .password-input {
    margin-top: 7px;
    margin-bottom: 10px;
    width: 350px;
    height: 50px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.mark {
    display: block;
    float: left;
}

.choice-remember {
    display: block;
    float: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2D3748;
}

.forgot-pass-link {
    display: block;
    float: right;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2C5282;
}

.login-btn {
    margin-top: 20px;
    width: 350px;
    height: 50px;
    background-color: #04C35C;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}


.with-google-btn {
    margin-top: 20px;
    width: 350px;
    height: 50px;
    background-color: #2D3748;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}


.join {
    margin-top: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #616161;
}

.join a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2B6CB0;
}