body {
    margin: 0;
    font-family: Arial;
}

.main-bar {
    display: flex;
    align-items: center;
    color: white;
    height: 79px;
    background-color: #00122f;
}

.logo {
    margin-left: 30px;
    width: 50px;
    height: 50px;
}

.main-heading {
    margin-left: 430px;
    padding: 0;
    
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid grey;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-left: 360px;
}

.nav-item:not(:last-child){
    margin-right: 100px;
}

.btn {
    width: 100px;
    height: 30px;
    color: white;
    background-color: blue;
    margin-left: 250px;
    text-transform: uppercase;
    border: 1px solid blue;
    border-radius: 5px;
    
}

.nav-link {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid dodgerblue;
}

.section-first {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

.section-first{
    padding-top: 20px;
}

.container-web {
    display: flex;
    padding-top: 20px;
}

.web-img {
    width: 50%;
    height: 50%;
    margin-left: 10px;
    border-radius: 4px;
}

.about-web-dev {
    width: 70%;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.section-first-heading {
    text-align: center;
    margin-top: 0;
}

.section-first-description {
    line-height: 25px;
    font-size: 20px;
    font-family: 'Times New Roman';
}


.section-second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.middle-container ul{
    margin-top: 40px;
    padding-left: 30px;

}

.middle-container ul li {
    margin-bottom: 20px;
}

.right-container .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.input {
    width: 200px;
    height: 30px;
    margin-bottom: 10px ;
}

.form-btn {
    width: 100px;
    height: 30px;
    color: white;
    text-transform: uppercase;
    background-color: blueviolet;
    border: 0;
    border-radius: 6px;
}


.footer {
    position: relative;
    height: 100px;
    background-color: #00122f;
}


.author {
    position: absolute;
    top: 20px;
    left: 100px;
    color: white;
}

.under-text {
    display: block;
    position: absolute;
    bottom: 2px;
    left: 40%;
    font-size: 14px;
    color: white;

}

.social-medias {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 150px;
}

.social{
    margin-right: 20px;
}

.social-logo {
    width: 20px;
    height: 20px;
}
